<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>2FA</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    Register:
    <form action="/register" method="POST">
        <ul>
            <li><input type="text" name="username" placeholder="Username"/></li>
            <li><input type="password" name="password" placeholder="Password"/></li>
            <li><input type="submit" name="submit" value="Register"/></li>
        </ul>
    </form>
</body>
</html>